<phpunit bootstrap="./application/bootstrap.php" colors="true">
	<testsuite name="Application">
		<directory>./</directory>
	</testsuite>

	<filter>
		<whitelist>
			<directory suffix=".php">../application</directory>
			<directory suffix=".php">../library</directory>
			<exclude>
				<directory suffix=".php">../library</directory>
				<directory suffix=".php">../application/controllers</directory>
				<directory suffix=".phtml">../application/</directory>
				<file>../application/Bootstrap.php</file>
			</exclude>
		</whitelist>
	</filter>

	<logging>
		<log type="coverage-html" target="./reports" charset="UTF-8"
			yui="true" highlight="true" lowUpperBound="50" highLowerBound="80" />
		<log type="testdox" target="./reports/testdox.html" />
	</logging>

</phpunit>